<figure>
  <img src="/<%= @article.image %>">
  <figcaption><%= @article.image_credit %></figcaption>
</figure>

<h1><%= @article.headline %></h1>

<p><%= @article.teaser %></p>

<% if @article.premium && !premium_access? %>
  <div class="paywall">
    <p>Subscribe to unlock this article</p>

    <a href="<%= PLIRO_PAGE_URL + "/plans/premium?continue_url=#{escape(build_continue_url)}" %>">Continue reading for 99 kr</a>

    <% unless signed_in? %>
      <p>Already have a subscription? <a href="/sign_in?return_to=<%= request.fullpath %>">Sign in instead</a>.</p>
    <% end %>
  </div>
<% else %>
  <%= simple_format @article.body %>
<% end %>
