<h2>What's this?</h2>

<p>
  This website is a live demo of an example integration with
  <a href="https://docs.pliro.co/custom-integrations/sign-in-with-pliro">Sign in with Pliro</a>.
  Checkout <a href="https://github.com/pliroco/sign-in-with-pliro-example">the source on GitHub</a>!
</p>

<% @articles.each do |article| %>
  <div class="teaser">
    <a href="/articles/<%= article.slug %>" class="teaser-link"></a>

    <div class="teaser-content">
      <figure>
        <img src="/<%= article.image %>">
        <figcaption><%= article.image_credit %></figcaption>
      </figure>

      <h2><%= article.headline %></h2>

      <p><%= article.teaser %></p>
    </div>
  </div>
<% end %>
