<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= [@page_title, 'The Greenfield Times'].compact.join(' - ') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if @page_title %>
      <meta property="og:title" content="<%= @page_title %>">
    <% end %>

    <% if @meta_description %>
      <meta name="description" content="<%= @meta_description %>">
    <% end %>

    <% if @og_image %>
      <meta property="og:image" content="<%= @og_image %>">
    <% end %>

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">The Greenfield Times</a>

      <% if signed_in? %>
        Signed in as <%= customer_name %>

        <a href="<%= PLIRO_PAGE_URL + '/customer' %>">My account</a>

        <form action="/sign_out" method="post" style="display: inline">
          <input type="submit" value="Sign out">
        </form>
      <% else %>
        <a href="/sign_in">Sign in</a>
        <a href="<%= PLIRO_PAGE_URL + "/products/premium?continue_url=#{escape(build_continue_url)}" %>">Subscribe</a>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
